<footer class="footer">
	<div class="border-footer-1"></div>
	<div class="container">
		<div class="footer style-1">
			<div class="location-contact">
				<h5 class="title">LOCATION &amp; CONTACT</h5>
				<p class="address"><span>Address:</span> 901 N Pitt Str., Suite 170<br />Alexandria, NY, USA</p>
				<a href="mailto:exampleemail.com" class="email"><span>Email:</span> exampleemail.com</a>
				<p><span class="time">Open Hour:</span> Sun - Thu: Open 24/7</p>
			</div>
			<div class="link-social">
				<div class="link">
					<h5 class="title">QUICK LINK</h5>
					<a routerLink="/about">About</a>
					<a routerLink="/services">Services</a>
					<a routerLink="/pricing">Pricing</a>
					<a routerLink="/trainer">Trainer</a>
					<a routerLink="/contact">Contact Us</a>
				</div>
				<div class="social">
					<h5 class="title">SOCIAL</h5>
						<a href="https://www.facebook.com/" target="_blank" rel="noopener">Facebook</a>
						<a href="https://www.instagram.com/" target="_blank" rel="noopener">Instagram</a>
						<a href="https://www.linkedin.com/" target="_blank" rel="noopener">LinkedIn</a>
						<a href="https://x.com/" target="_blank" rel="noopener">Twitter</a>
				</div>
			</div>
			<div class="logo-footer">
				<div class="logo">
					<img src="assets/img/logo.svg" alt="Logo" />
				</div>
				<p class="desp">Lorem Ipsum is simply dummy text of the print and typesetting industry. The indus stan. Lem Ipsum is dummy.</p>
				<a href="tel:(406)5550120" class="phone">
					<h3 class="title">(406) 555-0120</h3>
				</a>
			</div>
		</div>
	</div>
	<div class="border-footer-2"></div>
	<div class="copyright-text">
		<p>Copyright 2024, All Right reserved</p>
	</div>
</footer>
